.prehome_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.prehome_icon{
  margin-bottom: 1rem;
}

.prehome_ul{
  font-size: 1.15rem;
}

.prehome_li{
  margin-left: 1.5rem;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .prehome_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
  }
  
  .prehome_icon{
    margin-bottom: 1rem;
  }
  
  .prehome_ul{
    font-size: 1rem;
  }
  
  .prehome_li{
    margin-left: 1.5rem;
    font-size: .85rem;
  }
}