.player_ul{
  /* background-color: aquamarine; */
  padding: 0 1rem;
}

.player_loader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.player_name{
  font-size: 1rem;
}