.player_ul{
  /* background-color: aquamarine; */
  padding: 0 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.player_loader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.player_li{
  line-height: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.player_name{
  font-size: 1.25rem;
  padding-bottom: .5rem;
}

.player_description{
  color: #808080;
}